@font-face {
    font-family: 'Myriad Pro Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Myriad Pro Regular'), url('fonts/MYRIADPRO-REGULAR.woff') format('woff');
    }

@font-face {
    font-family: 'Myriad Pro Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Myriad Pro Bold'), url('fonts/MYRIADPRO-BOLD.woff') format('woff');
    }

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    letter-spacing: -0.04em;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Myriad Pro Regular';
    color: #555;
    background: white;
    font-style: normal;
    font-weight: normal;
    width: 1100px;
    margin: 0 auto;
}


/*---------- H E A D E R -------*/

header {
    width: 100%;
    height: 130px;
    background: #333;
    padding: 28px 70px 52px;
    display: flex;
    justify-content: space-between;
}

h1 {
    color: #eee;
    font-size: 60px;
    font-weight: normal;
}

nav {
    margin-top: 40px;
    font-family: 'Arial';
    font-size: 16px;
    color: #eee;
}

nav a, nav a:visited {
font-family: 'Arial';
font-size: 16px;
color: #eee;
}

/*selects the content when link is active
nav a:not(:last-child)::after {
    content: "  -- ";
}
*/

.short-divider::before {
    content: "--";
}

nav a:not(:last-child) {
    margin-right: 7px;
}

nav a:not(:first-child) {
    margin-left: 7px;
}

nav a:hover, nav a:active {
    text-decoration: none;
    color: #00aeef;
    }

/*---------- M A I N -------*/

main {
    width: 100%;
    padding: 70px 70px 0;
}

.about {
    width: 100%;
}

h2 {
    font-family: 'Myriad Pro Bold';
    font-weight: bold;
    font-size: 60px;
    line-height: 55px;
    margin-bottom: 40px;
    color: #333;
}

.blue {
    color: #00bff3;
}

.grey {
    font-family: 'Myriad Pro Regular';
    font-size: 50px;
    font-weight: normal;
    color: #bbb;
}

.about p {
    border-top: 3px dotted #ccc;
    border-bottom: 3px dotted #ccc;
    font-size: 34px;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-bottom: 45px;
}

strong {
    font-family: 'Myriad Pro Bold';
}

/*services*/
.services {
    display: flex;
    justify-content: space-between;
}

.services article {
    height: 350px;
    width: 280px;
    background: #00aeef;
    text-align: center;
    color: white;
    padding: 20px 25px;
    box-shadow: 4px 4px 6px #c7c7c7;
    margin-bottom: 50px;
}

h3 {
    font-size: 40px;
    font-weight: normal;
    padding-bottom: 20px;
    border-bottom: 2px dotted white;
    margin-bottom: 20px
}

.services article p {
    font-family: 'Arial';
    font-size: 14px;
    margin-bottom: 25px;
    letter-spacing: normal;
    line-height: 1.4;
}

.services article a {
    display: block;
    font-size: 18px;
    color: white;
    background: #0076a3;
    padding: 14px 0;
    width: 230px;
    box-shadow: inset 0 0 6px #195c74;
}

/*aside*/
aside {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 450px;
    padding: 40px 0;
    border-top: 3px dotted #ccc;
    border-bottom: 3px dotted #ccc;
}

.testimonials {
    padding-right: 40px;
    width: 480px;
    height: 100%;
}

.featured {
    border-left: 3px dotted #ccc;
    padding-left: 50px;
    width: 480px;
}

h4 {
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 20px;
}

.comment {
    height: 80px;
    width: 100%;
    margin-bottom: 35px;
    font-family: 'Arial';
    font-size: 14px;
    letter-spacing: normal;
    line-height: 1.4em;
}

.author-bg {
    background: #ccc;
    height: 80px;
    width: 80px;
    margin-right: 30px;
    float: left;
}

.user {
    margin-top: 6px;
    font-weight: bold;
}

.organization {
    color: #00aeef;
}

/*featured*/
h5 {
    font-family: 'Arial';
    font-size: 20px;
    font-weight: normal;
    color: #888;
    letter-spacing: normal;
    margin-top: -5px;
}

.featured p, .featured a {
    font-family: 'Arial';
    font-size: 14px;
    font-weight: normal;
    line-height: 1.4em;
    letter-spacing: normal;
}

.featured a {
    color: #00aeef;
}

.preview {
    height: 206px;
    width: 430px;
    background: url(img/yoshi-preview.png);
    border: 1px solid #ccc;
    margin: 10px 0 10px;
}

/*---------- F O O T E R -------*/

footer {
    width: 1100px;
    margin: 20px auto;
    padding: 0 70px;
    font-family: 'Arial';
    font-size: 16px;
}